<link rel="stylesheet" href="worldmusic.css">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<%= stylesheet_link_tag 'signup', media: 'all' %>
<div class="form-wrapper">
<div class="form-container">
<h2>Регистрация</h2>

<%= form_with url: signup_path, local:true, method: :post do %>
 <div class="input-group">
    <%= label_tag "Почта" %>
    <%= email_field_tag "email", nil, class: "form-input"%>
 </div>

 <div class="input-group">
    <%= label_tag "Пароль" %>
    <%= password_field_tag "password", nil, class: "form-input" %>
 </div>

    <%= submit_tag "Зарегистрироваться", class: 'register-link' %>
  </div>

<% end %>

<!--<h2>Login</h2>-->

<%#= form_with url: login_path, local:true, method: :post do %>
<!--  <div>-->
    <%#= label_tag "email" %>
    <%#= email_field_tag "email", nil %>

    <%#= label_tag "password" %>
    <%#= password_field_tag "password", nil %>

    <%#= submit_tag "Login" %>
<!--  </div>-->

<%# end %>

<!--<br/>-->
<!--<br/>-->
<!--<br/>-->

<%#= link_to 'Register', signup_url %>