<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Главная страница</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="worldmusic.css">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag 'home', media: 'all' %>
</head>
<body>
<div id="wrapper">
  <br>
  <h2 class="aligncenter">Откройте для себя звуки мира</h2>
  <div id="content">
    <main>
      <h3>Откройте для себя музыку со всех уголков мира</h3>
      <p>Присоединяйтесь к нам в необыкновенное музыкальное путешествие! Мы отмечаем яркое разнообразие мировой музыки, ритмы и мелодии со всего мира. От энергичных ритмов афробита до умиротворяющих мелодий классического ситара, наш сайт - это великолепный репертуар для музыкальных исследований. От музыкального энтузиаста до новичка, изучающего новые жанры, вы откроете для себя богатое многообразие песен, которые стирают границы и культуры. Погрузимся в это путешествие, полное открытий и вдохновения!</p>
   <div class="container">
  <div class="gridcontainer">
    <div class="griditem">
      <%= image_tag 'headphonejoy1.jpg', alt: 'Счастливый ребенок с наушниками' %>
      <p>Изображение от andreas на Freepik</p>
    </div>
    <div class="griditem">
      <%= image_tag 'headphonejoy2.jpg', alt: 'Еще один счастливый ребенок с наушниками' %>
      <p>Изображение от master1305 на Freepik</p>
    </div>
    <div class="griditem">
      <%= image_tag 'avicii.jpg', alt: 'Выступление Avicii' %>
      <p>Фотография Майк Лоури</p>
    </div>
    <div class="griditem">
      <%= image_tag 'bobmarley1978.jpg', alt: 'Боб Марли поет на сцене' %>
      <p>Фото из архива Халтон</p>
    </div>
  </div>
  <aside class="featured-artist">
    <h3>Избранный мировой артист</h3>
    <%= image_tag 'michaeljackson.jpeg', alt: 'Избранный артист' %>
    <p class="right">Фотография Фил Дент/Редфернс</p>
    <p>Мы отмечаем влияние Майкла Джексона на музыку через жанры и поколения. Его богатая карьера продолжает вдохновлять мир.&nbsp;<a href="https://ru.wikipedia.org/wiki/%D0%94%D0%B6%D0%B5%D0%BA%D1%81%D0%BE%D0%BD,_%D0%9C%D0%B0%D0%B9%D0%BA%D0%BB" target="_blank">Узнать больше</a></p>
  </aside>
</div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7dEBbXe5FcI?si=dtzwCrmVCXXhrTY4" title="YouTube видеоплеер" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <p class="right">Несколько слов о Майкле.</p>
    </aside>
  </div>
  <p class="mainaligncenter">Начните свое музыкальное приключение через богатые страницы жанров и легенд, которые ждут именно вас!</p>
  <br>
  <footer>
    <p>&copy; 2024 Музыка со всего мира | Все права защищены</p>
  </footer>
</div>
</body>
</html>
